@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
}


/* scrollbar */
::-webkit-scrollbar {
  width: 3px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c6c6c6;
}

/* sections height */
.sectionCss {
  height: calc(100vh - 80px);
}